nav
  h1(class="text-2xl md:text-3xl font-bold text-gray-700") Github README Card
main(class="flex flex-col gap-4")
  section(class="flex flex-col gap-1")
    h1(class="text-xl font-semibold text-gray-700") Repository cards:
    div(class="grid grid-cols-1 md:grid-cols-2 gap-4")
      img(src="output/repocards/github-readme-card.svg" alt="github readme card")
      img(src="output/repocards/next.js.svg" alt="next.js card")

  section(class="flex flex-col gap-1")
    h1(class="text-xl font-semibold text-gray-700") Profile Card:
      img(src="/profileCard?user=MR-Addict" alt="profile card")
