footer(class="flex flex-col md:flex-row md:gap-2 text-gray-800") 
  div
    span Copyright &copy; #{new Date().getFullYear()} • 
    a(href="https://github.com/MR-Addict/github-readme-card" class="text-blue-600") Github Source
  div
    sapn(class="hidden md:inline") • 
    span Update #{last_update}